* {
  box-sizing: border-box;
}
:root {
}

html {
  font-size: 62.5%;
}
/* khôi phục lại theo cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #e6e9f2;
}

/* ===================================== common ================================ */
a {
  text-decoration: none;
}
/* ===================================== user ================================ */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.login .login__container {
  border: none;
  width: 380px;
  padding: 30px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f3f6;
  border-radius: 30px;
  box-shadow:
    20px 20px 40px rgba(0, 0, 0, 0.6),
    -20px -20px 40px rgba(255, 255, 255, 0.8);
}
.login__container .login__avatar {
  width: 90px;
  height: 90px;
  background: #e0e5ec37;
  border-radius: 50%;
  margin-bottom: 30px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    10px 10px 20px rgba(0, 0, 0, 0.4),
    -10px -10px 20px rgba(255, 255, 255, 0.9);
}
.login__container .login__avatar {
  transition: transform 0.3s ease;
}
.login__container .login__avatar:hover {
  transform: translateY(-3px);
}
.login__container .login__header {
  text-align: center;
}
.login__header .login__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #2e3349;
}
.login__header .login__title:hover {
  text-shadow: 1px 2px rgba(45, 107, 83, .4);
}
.login__header .login__sub-title {
  font-size: 14px;
  color: #9ba3b9;
  margin-bottom: 25px;
}
/* ===================================== form ================================ */
.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
/* ===================================== email , password , button ================================ */
.login__form .login__group {
  height: 60px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: #fcfcfc;
  transition: box-shadow 0.3s ease;
  box-shadow:
    inset 6px 6px 12px rgba(163, 177, 198, 0.9),
    inset -6px -6px 12px rgba(255, 255, 255, 0.1);
}
.login__group:focus-within {
  /* border-color: #2d6b5c; */
  box-shadow:
    inset 6px 6px 12px rgba(163, 177, 198, 0.9),
    inset -6px -6px 12px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(45, 107, 83, 1);
}
.login__group .input__box {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}
.login__group .input__box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
  color: #4a7667;
}
.login__group .input__box label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #9ba3b9;
  pointer-events: none;
  transition: 0.3s ease;
}

.input__box input:focus + label,
.input__box input:not(:placeholder-shown) + label {
  top: 8px;
  transform: translateY(0);
  font-size: 12px;
  color: #648dad;
}
.login__form .login__group > .login__icon {
  margin-right: 12px;
  font-size: 20px;
  color: #9ba3b9;
}
.login__form .login__group:focus-within .login__icon {
  color: #0e0303;
}
.login__group .login__toggle {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  box-shadow:
    4px 4px 8px rgba(163, 177, 198, 0.8),
    -4px -4px 8px rgba(255, 255, 255, 0.9);
}
.login__group .login__toggle i {
  font-size: 20px;
  line-height: 1;
  display: block;
  color: #9ba3b9;
}
/* ===================================== checkbox ================================ */
.login__form .login__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__remember {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* thay vì dùng #remember có thể dùng input[type="checkbox"] */
#remember {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background: #e6e9f2;
  border: none;
  position: relative;
  cursor: pointer;
  appearance: none; /*viền của checkbox*/
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.4),
    -4px -4px 8px rgba(255, 255, 255, 0.9);
}
.login__remember input[type="checkbox"]:checked {
  box-shadow:
    inset 3px 3px 6px rgba(0, 0, 0, 0.08),
    inset -3px -3px 6px rgba(255, 255, 255, 0.9);
}
#remember:checked {
  background: rgba(45, 107, 83, 1);
}


/* #remember:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 14px;
  font-weight: 700;
  color: #2e3349;
} */

#remember:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 14px;
  font-weight: 700;
  color: white;
  /* #2e3349; */
}
.login__options .login__forgot {
  color: #9ba3b9;
}
.login__options .login__forgot:hover {
  color: #2d6b5c;
}

/* ===================================== login/signIn ================================ */
.login__form .login__btn {
  width: 100%;
  height: 60px;
  padding: 0;
  border-radius: 15px;
  border: none;
  background-color: #e0e5ec;
  color: #9ba3b9;
  font-weight: 700;
  font-size: 1.6rem;
  box-shadow: 
    9px 9px 16px rgba(163, 177, 198, 0.6), 
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  transition: 0.3s active;

}

.login__form .login__btn:active {
  transform: scale(0.96);

}

.login__form .login__btn:hover {
  animation: animation_btn 2s ease infinite;
}

@keyframes animation_btn {
  0% {
    box-shadow: 
      4px 4px 8px rgba(240, 4, 4, 0.8),
      -4px -4px 8px rgba(219, 42, 42, 0.4);
  }
  25% {
    box-shadow: 
      4px 4px 8px rgba(37, 249, 0, 0.8),
      -4px -4px 8px rgba(45, 217, 42, 0.4);
  }
  50% {
    box-shadow: 
      4px 4px 8px rgba(19, 90, 255, 0.8),
      -4px -4px 8px rgba(36, 179, 240, 0.4);
  }
  75% {
    box-shadow: 
      4px 4px 8px rgba(255, 10, 218, 0.8),
      -4px -4px 8px rgba(220, 65, 255, 0.4);
  }
  100% {
    box-shadow: 
      4px 4px 8px rgba(3, 232, 198, 0.8),
      -4px -4px 8px rgba(4, 136, 112, 0.4);
  }
}

/* ===================================== social login ================================ */
.login__divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  color: #9ba3b9; /* #626774 */
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* tạo 2 dấu gạch bằng pseudo-elements */
.login__divider::before,
.login__divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, transparent, #9ba3b9, transparent ); /* gạch mờ dần 2 đầu */
  opacity: 1;
}
/* khoảng cách giữa gạch và chữ */
.login__divider::before {
  margin-right: 15px;
}
.login__divider::after {
  margin-right: 15px;
}

/* login__social */
.login__social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.login__social-btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px; /* Bo góc nhẹ */
    background: #f2f3f6;
    color: #2e3349;
    font-size: 20px;
    text-decoration: none;
    /* Đổ bóng Neumorphism */
    box-shadow: 
        6px 6px 12px rgba(163, 177, 198, 0.6), 
        -6px -6px 12px rgba(255, 255, 255, 0.8);
    transition: 0.2s ease;
}

.login__social-btn:hover {
    transform: translateY(-3px); /* Nhấc nhẹ lên khi di chuột */
    color: #2d6b5c;
}

.login__social-btn:active {
    box-shadow: 
        inset 4px 4px 8px rgba(163, 177, 198, 0.6), 
        inset -4px -4px 8px rgba(255, 255, 255, 0.8);
    transform: scale(0.95); /* Nhấn lún xuống */
}
/* ===================================== sign up ================================ */
.login__signup {
  margin-top: 20px;
  text-align: center;
  font-size: 1.4rem;
  color: #9ba3b9;
}

.login__form .login__signup a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2e3349;
}
.login__form .login__signup a:hover {
  color: #2d6b5c;
}